:export {
  colorGeneral: #137cbd;
  colorAvatar: #343a40;
  colorTexto: #333;
  colorTextoSecundario: #444;
  paddingPanel: 18px;
  paddingCard: 16px;
  borderRadiusCard: 8px;
  borderWidthCard: 4px;
  sombraCard: 0 1px 4px rgba(0, 0, 0, 0.1);
  sombraCardHover: 0 4px 12px rgba(0, 0, 0, 0.15);
  sombraTooltip: 0 4px 12px rgba(0, 0, 0, 0.12);
}